.spoil_btn_class {
	background-color:rgb(240,180,220);
    pointer-events:auto;
    font-size:12px;
      width: 100%;
  height: 100%;
  padding: 0px;

  position: absolute;
  top: 0;
  left: 0;
display:none;
}

.spoil_covering_class {

    position: absolute;
    z-index:1000;
    top:0;
    left:0;
    width:100%;
    height:100%;
    visibility: visible;
    pointer-events: none;
    line-height:normal;
    border-style: none;
    display:inline-block;
    background: repeating-linear-gradient(
  135deg,
  rgb(250,250,250),
  rgb(250,250,250) 10px,
  rgb(230,230,245) 10px,
  rgb(230,230,245) 20px
);
overflow:hidden;
}

.spoil_covering_class:hover{
overflow:visible;

}

.spoil_inner_class {
    padding:2px;
    height:auto;
    width:auto;
    max-width:100%;
    max-height:100%;
    position:relative;
    background-color: rgb(100,100,250);
    visibility:visible;
    display:inline-block;
    pointer-events: auto;

}
.spoil_inner_class:hover{
cursor:pointer;
overflow:visible;
    background-color: rgb(140,140,250);

}
.spoil_inner_class:hover .spoil_btn_class{
    display: inline-block;
}
.spoil_covering_class:hover .spoil_btn_class{
    display: inline-block;
}
.spoil_phrase_class:hover .spoil_btn_class{
    display: inline-block;
}

.spoil_tool_tip_box{
       visibility: hidden;
    width: 60px;
    height:30px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}


.spoil_phrase_class {
pointer-events: auto;
font-size:14px;
}
.spoil_phrase_class:hover {
cursor:pointer;
overflow:visible;
}

.overlay_class{
    top:0;
    left:0;
width:100%;
height:100%;
    position: fixed;
    z-index: 9999;
    background-color: rgba(100,100,100, 0.97);
    overflow-x: hidden;
}
.overlay_inner_class {
    position: fixed;
    top: 20vh;
    left:0;
    height: 50vh;
    width: 100%;
    padding: 8px;
    text-align: center;
        font-size: 36px;
        display: block;
        background-color:rgb(200,200,200);
        border-style: solid;
        pointer-events:auto;
}

.navigation_back_class {
    color: #818181;
    cursor:pointer;
}

.spoiler_title_class{
color:"black";
}
.navigation_forward_class {
    color: #818181;
        cursor:pointer;
}
.navigation_back_class:hover{
    color: #f1f1f1;
}
.navigation_forward_class:hover{
    color: #f1f1f1;
}
